<div class="career">
  <h2>Career</h2>
  <div class="travel">
    <hr class="timeline"/>
    <div class="step formation ynov">
      <span>2023-2025</span>
      <h4>Ynov - Web Development</h4>
      <p>Master in full-stack web development (actively seeking work-study program)</p>
    </div>
    <svg class="marker ynov" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
    <div class="step echoes" style="grid-row: 2">
      <span>2022-2023</span>
      <h4>ECHOES - Fullstack Development</h4>
      <p>Fullstack development of SaSS solutions in Java Springboot and React MeteorJS</p>
    </div>
    <svg class="marker echoes" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
    <div class="step formation esgi" style="grid-row: 3">
      <span>2022-2023</span>
      <h4>ESGI - Cybersécurity</h4>
      <p>Bachelor Software and Network Project Manager in Cybersecurity</p>
    </div>
    <svg class="marker esgi" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
    <div class="step sdi" style="grid-row: 4">
      <span>2021</span>
      <h4>SDI Roca - Frontend Development</h4>
      <p>Frontend development with one-code Web/Mobile technologies like Ionic Angular</p>
    </div>
    <svg class="marker sdi" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
    <div class="step formation epitech" style="grid-row: 5">
      <span>2020-2022</span>
      <h4>Epitech - IT Development</h4>
      <p>Computer Engineering School and Masters in Software Development</p>
    </div>
    <svg class="marker epitech" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
    <div class="step circle" style="grid-row: 6">
      <span>2018-2020</span>
      <h4>Circle - Freelance </h4>
      <p>Fullstack web development of freelance showcase/shops/forums</p>
    </div>
    <svg class="marker circle" width="1.6vh" height="1.6vh">
      <circle cx="0.8vh" cy="0.8vh" r="0.8vh"/>
    </svg>
  </div>
</div>
