.scroll-downs {
  position: absolute;
  top: 85%;
  width: 100%;
  z-index: -1;
}

.mousey {
  margin: auto;
  width: 0.3vh;
  padding: 1vh 1.5vh;
  height: 3.5vh;
  border: 2px solid #eeeaee;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 0.3vh;
  height: 1vh;
  border-radius: 25px;
  background-color: #fd6433;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}
