<div class="works">
  <div class="work">
    <a href="#">
      <h2>Works</h2>
    </a>
  </div>
  <div class="work">
    <a href="#">
      <h3>CarLocate</h3>
      <img src="assets/carlocate-mockup.png" alt="Portfolio"/>
    </a>
  </div>
  <div class="work">
    <a href="#">
      <h3>CarFleet</h3>
      <img src="assets/carfleet-mockup.png" alt="Portfolio"/>
    </a>
  </div>
  <div class="work">
    <a href="#">
      <h3>CarRemote</h3>
      <img src="assets/carremote-mockup.png" alt="Portfolio"/>
    </a>
  </div>
</div>
