.works {
  position: static;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  z-index: -1;
  user-focus: auto;
}

.work {
  overflow: hidden;
  border-radius: 15px;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  z-index: -1;
}

.work a {
  height: 100%;
  display: grid;
  grid-template: 100% / 100%;
  transition: 0.5s;
  align-items: center;
  text-decoration: none;
  background: rgba(91, 91, 91, 0.2);
  z-index: -1;
}

.work h2 {
  font-size: calc(1.5vh + 1.5vw);
  font-weight: bold;
  color: #eeeaee;
  text-align: center;
  padding-block: 1vh;
  margin: 0;
}

.work h3 {
  font-size: calc(2vh + 2vw);
  color: #eeeaee;
  text-align: center;
  width: fit-content;
  justify-self: center;
  padding-inline: 1vw;
  margin: 0;
  grid-area: 1 / 1;
}


.work img {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1;
  object-fit: contain;
  z-index: -1;
}

/*.work a:hover {*/
/*  transform: scale(1.1);*/
/*  z-index: -1;*/
/*}*/


@media (width <= 1000px) {

  .works {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .work {
    scroll-snap-align: center;
  }
}
