header {
  position: fixed;
  width: 92%;
  display: grid;
  grid-template: 100% / auto 1fr auto;
  padding: 4%;
  color: #eeeaee;
  z-index: 0;
  pointer-events: none;
}

header a {
  text-decoration: none;
  color: #eeeaee;
  pointer-events: auto;
}

header a h2 {
  grid-area: 1 / 1;
  margin: 0;
  font-size: calc(1vh + 1vw);
  z-index: 1;
  pointer-events: auto;
}

header span {
  color: #fd6433;
  z-index: 1;
}

app-menu {
  grid-area: 1 / 3;
  height: calc(3.2vh + 0.5vw);
  width: calc(3.2vh + 0.5vw);
  align-self: center;
  z-index: 5;
  pointer-events: auto;
}

