header {
  position: fixed;
  width: 92%;
  display: grid;
  grid-template: 100% / auto 1fr auto;
  padding: 4%;
  color: #eeeaee;
}

header h2 {
  grid-area: 1 / 1;
  margin: 0;
  color: #eeeaee;
  font-size: calc(1vh + 1vw);
}

header span {
  color: #fd6433;
}

app-menu {
  grid-area: 1 / 3;
  height: calc(3.2vh + 0.5vw);
  width: calc(3.2vh + 0.5vw);
  align-self: center;
  z-index: 5;
}

