.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.site-title {
  position: absolute;
  top: 20%;
  left: 20%;
  font-weight: 700;
  font-size: calc(1.5vh + 1vw);
  color: #eeeaee;
  z-index: 0;
}

.site-title h1 {
  width: 20vw;
  margin: 0;
}

.site-title h3 {
  font-size: calc(1vh + 0.5vw);
  margin: 0;
  font-family: monospace;
  letter-spacing: calc(0.1em + 0.2vw);
}

.site-title h3 span {
  color: #fd6433;
}

.site-illustration {
  position: absolute;
  top: 40%;
  left: 50%;
  width: calc(18vw + 18vh);
  transform: translate(-50%, -20%);
  pointer-events: none;
}

.site-illustration img {
  width: 100%;
}

@media (width <= 1000px) {
  .site-title {
    z-index: -1;
  }

  .site-illustration {
    z-index: -1;
  }
}
