.site-title {
  position: absolute;
  top: 20%;
  left: 20%;
  font-weight: 700;
  font-size: calc(0.5em + 1vw);
  color: #eeeaee;
  z-index: -1;
  animation: slideUpTitle paused calc(var(--scroll) * -1s) both;
}

@keyframes slideUpTitle {
  to {
    transform: rotateZ(calc(var(--scroll) * 90deg)) translateY(calc(var(--scroll) * 5vh));
  }
}

.site-title h1 {
  width: 20vw;
  margin: 0;
}

.site-title h3 {
  font-size: calc(0.3em + 0.5vw);
  margin: 0;
  font-family: monospace;
  letter-spacing: calc(0.1em + 0.2vw);
  overflow: hidden;
}

.site-title h3 span {
  color: #fd6433;
}

.site-illustration {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -20%);
  animation: slideUp paused calc(var(--scroll) * -1s) both;
}

@keyframes slideUp {
  to {
    transform: translate(-50%, calc(-20% + var(--scroll) * 10vh));
  }
}

.site-illustration img {
  width: 100%;
}

@media (width <= 1000px) {
  .site-illustration {
    z-index: 0;
  }
}
