.site-title {
  animation: slideTitle paused calc(var(--scroll) * -1s) both;
}

.site-illustration {
  animation: slideIllustration paused calc(var(--scroll) * -1s) both;
}

@keyframes slideTitle {
  to {
    transform: rotateZ(calc(var(--scroll) * 90deg)) translate(calc(var(--scroll) * -90vh), calc(var(--scroll) * -40vw));
  }
}

@keyframes slideIllustration {
  to {
    transform: translate(-50%, calc(-20% + var(--scroll) * -90vh));
  }
}
