.background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #272c35;
  z-index: -1;
  overflow: hidden;
}

.background-left {
  width: 50%;
  height: 200vh;
  background-color: #20242a;
  z-index: 2;
  transform-origin: 100% 50%;
}

.menu-opened .background-left {
  width: 65%;
}

.background-right {
  z-index: -1;
  width: 50%;
}

.menu-opened .background-right {
  width: 35%;
}

.background-right p {
  height: 50%;
  width: 50%;
  color: #222831;
  font-weight: bold;
  font-size: calc(14rem + 3vw);
  margin: -6vh 0 0 -5vw;
  z-index: -1;
  line-height: 100%;
}
