<app-background [scroll]="scroll"></app-background>
<div id="app" class="app" (scroll)="onScroll()">
  <app-header></app-header>
  <section id="home">
    <app-home [scroll]="scroll"></app-home>
  </section>

  <section id="skills">
    <app-skills></app-skills>
  </section>

  <section id="career">
    <app-career></app-career>
  </section>

  <section id="works">
    <app-works></app-works>
  </section>
  <section id="contact" style="background: rgba(0,0,0,0); height: 70vh">
    <app-contact></app-contact>
  </section>

</div>
