<div class="skills">
  <div class="skills-list">
    <h2>Skills</h2>
    <div class="skill angular">
      <div class="skill-header">
        <img alt="" src="assets/angular-icon.svg">
        <h3>Angular</h3>
      </div>
      <div class="skill-content">
        <p>Design and <span>development</span> of <span>responsive</span> multi-page website massively client</p>
      </div>
    </div>
    <div class="skill ionic">
      <div class="skill-header">
        <img alt="" src="assets/ionic-icon.svg">
        <h3>Ionic</h3>
      </div>
      <div class="skill-content">
        <p>Development of responsive web/mobile application deployable <span>IOS</span> & <span>Android</span></p>
      </div>
    </div>
    <div class="skill react">
      <div class="skill-header">
        <img alt="" src="assets/react-icon.svg">
        <h3>React</h3>
      </div>
      <div class="skill-content">
        <p>Massively server responsive <span>web page</span> development with potential API or SaSS hookup</p>
      </div>
    </div>
    <div class="skill spring">
      <div class="skill-header">
        <img alt="" src="assets/spring-icon.svg">
        <h3>Spring</h3>
      </div>
      <div class="skill-content">
        <p>Building and deploying <span>Spring</span> Java <span>API</span> with architectural design</p>
      </div>
    </div>
  </div>
</div>
