<div class="skills">
  <div class="skills-list">
    <h2>Skills</h2>
    <div class="skill html">
      <h3>HTML</h3>
      <div class="skill-bar">
        <div class="skill-bar-fill" style="width: 90%;"></div>
      </div>
    </div>
    <div class="skill css">
      <h3>CSS</h3>
      <div class="skill-bar">
        <div class="skill-bar-fill" style="width: 80%;"></div>
      </div>
    </div>
    <div class="skill ts">
      <h3>Typescript</h3>
      <div class="skill-bar">
        <div class="skill-bar-fill" style="width: 10%;"></div>
      </div>
    </div>
    <div class="skill java">
      <h3>Java</h3>
      <div class="skill-bar">
        <div class="skill-bar-fill" style="width: 40%;"></div>
      </div>
    </div>
  </div>
</div>
