.skills {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template: 1fr auto 2fr / 1fr auto 1fr;
}

.skills-list {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding: 0 10vw;
  width: 80vw;
  align-items: center;
  justify-content: center;
}

.skills-list h2 {
  grid-area: 1 / 5 / 1 / 1;
  font-size: calc(1.5vh + 1.5vw);
  font-weight: bold;
  color: #eeeaee;
  margin: 0;
  z-index: -1;
}

.skill {
  display: flex;
  flex-direction: column;
  font-size: calc(0.6vh + 0.6vw);
  font-weight: bold;
  color: #eeeaee;
  background-color: #20242a;
  border-radius: 15px;
  height: 100%;
  z-index: -1;
  padding: 1.5vh 1.5vw;
  box-shadow: 5px 5px 15px 5px rgba(32, 36, 42, 0.5);
}

.skill-header {
  display: flex;
}

.skill-header img {
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  filter: invert(1);
}

.skill-header h3 {
  font-size: calc(1.5vh + 1.5vw);
  font-weight: bold;
  color: #eeeaee;
  width: calc(100% - 1vw);
  line-height: calc(3vw + 3vh);
  margin: 0;
  text-align: center;
}

.skill-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-content p {
  font-family: 'Comfortaa', cursive;
  text-justify: none;
  font-size: calc(0.8vw + 0.8vh);
}

.skill span {
  color: #fd6433;
}

@media (width <= 1000px) {
  .skills {
    grid-template: 1fr 80vh 1fr / 1fr auto 1fr;
  }

  .skills-list {
    grid-template: 1fr 1fr 1fr 1fr / auto 1fr;
    grid-gap: 3vh;
    height: 80vh;
  }

  .skills-list h2 {
    grid-area: 1 / 1 / 1 / 1;
    grid-row: 2;
    margin: 0;
    font-size: calc(3vh + 3vw);
  }

  .skill {
    grid-column: 2;
    width: 50vw;
    height: calc(100% - 3vh);
    justify-self: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .skill-header {
    justify-content: center;
  }

  .skill-header h3 {
    width: auto;
    padding-inline: 1vw;
    font-size: calc(1vh + 1.3vw);
  }

  .skill-content {
    text-align: center;
  }

  .skill-content p {
    font-size: calc(0.7vh + 1.3vw);
  }
}
