<div class="menu">
  <button (click)="openNav()">
    <img src="assets/menu-icon.svg" alt="open-menu"/>
  </button>
  <nav id="menu">
    <div class="close">
      <button (click)="closeNav(true)">
        <img src="assets/close-icon.svg" alt="close-menu"/>
      </button>
    </div>
    <ul>
      <li><a href="#home" (click)="closeNav(false)">Home</a></li>
      <li><a href="#skills" (click)="closeNav(false)">Skills</a></li>
      <li><a href="#career" (click)="closeNav(false)">Career</a></li>
      <li><a href="#works" (click)="closeNav(false)">Works</a></li>
      <li><a href="" (click)="closeNav(false)">Contact</a></li>
    </ul>
  </nav>
</div>

